.navbar {
    background-color: transparent !important;
    border-bottom: 1px solid #CCCCCC;
}

.nav-active::after {
    content: "";
    width: 100%;
    border-bottom: 2px solid #4EBF4D;;
    position: absolute;
    bottom: -11px;
    left: 2px;
}

.nav-item {
    position: relative;
}




@media (max-width: 992px) {
    .nav-active::after {
        bottom: 0;
        left: 0px;
    }

    .nav-item {
        margin-top: 20px;
        margin-right: 0 !important;
    }

    .nav-item .btn {
        margin-top: 10px;

    }

    .nav-item:last-child {
        display: flex;
    }
}